.textblock
{
  text-align: center;
}

.description{
  text-align: left;
  margin:100px 0 0px 80px;
}

.desctext{
  font-size: 30px;
  font-family:sans-serif;
}

.imageContainer {
  position: relative;
}

.playbutton{
  font-family:"Arial";
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  border-radius:2em;
  padding:0.3em 1.2em;
  background-color:	#000000;
  color: #FFFFFF;
  margin:0px 0 0 0;
}

.playbutton:hover{
  color: #FFF000;
}
.imagecover
{
  display: block;
  max-width: 120%;
  max-height: 120%;
  min-width: 100%;
  min-height:100%;
}

.imagemain
{
  height: 50%;
  width: 80%;
  float: right;
}

.play-div{
  padding-top: 30px;
}

.icon-container{
  display:flex;
  align-items:center;
}

.icons {
  font-size: 20px;
  display: inline-block;
  text-align: left;
}

.title
{
  margin-left: 30px;
  font-size: 50px;
  display:inline-block;
}

#home{
  padding-right: 20px;
}

#game{
  padding-right: 20px;
}

#team{
  padding-right: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}
.items .item1 {
  flex: 1 0 25%;
  box-sizing:border-box;
}

.items .item2 {
  flex: 1 0 25%;
  box-sizing:border-box;
}

#logo{
  max-width: 60%;
  max-height: 60%;
  min-width: 40%;
  min-height: 40%;
}
